@page "/DeleteCategory/{CategoryId}"
@using Categorically.Tasks
@using Categorically.DataAccess.Models
@inject ICategoryTasks categoryTasks
@inject NavigationManager navigationManager

<h2>Delete Category</h2>
<hr />
<h3>Are you sure you want to delete this category?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label>Category ID:</label>
                <label>@category?.CategoryId</label>
            </div>
            <div class="form-group">
                <label>Category Name:</label>
                <label>@category?.CategoryName</label>
            </div>
            <div class="form-group">
                <label>User:</label>
                <label>@(category?.User?.UserName)</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@DeleteThisCategory" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public int categoryId { get; set; }

    Category category = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await categoryTasks.GetCategoryAsync(categoryId);
        if (response != null)
        {
            category = response;
        }
    }

    protected async Task DeleteThisCategory()
    {
        await categoryTasks.DeleteCategoryAsync(category);
        navigationManager.NavigateTo("Categories");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("Categories");
    }
}
